body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.login-page,
.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}

.login-input {
  height: 5vh;
}

.username-section,
.password-section {
  margin-top: 5%;
}

.username-error {
  color: red;
  font-size: 1.2em;
}

.hidden {
  display: none;
}

.nav-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 25vh;
  justify-content: space-between;
  margin: 3%;
  width: 93vw;
}

.logo {
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  height: 22vh;
  width: 10vw;
}

.all-trips-container {
  align-content: space-between;
  align-items: flex-start;
  border: 2px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 113vh;
  justify-content: space-around;
  margin-left: 3%;
  overflow: scroll;
  width: 93vw;
}

.search-button-container {
  display: flex;
  flex-direction: column;
  height: 24vh;
  justify-content: space-between;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3%;
  margin-top: 7%;
  width: 60vw;
}

.trips-button,
.logout-button,
.trip-cost-button,
.request-trip-button {
  background-color: #ff385c;
  border: none;
  border-radius: 5px;
  height: 4vh;
  width: 16vw;
}

.button {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 6vh;
  margin: 5px;
  width: 13vw;
}

.card-image {
  border-radius: 5px;
  height: 20vh;
  margin-bottom: 15%;
  margin-left: 8%;
  margin-top: 8%;
  width: 17vw;
}

.trip-card-template {
  background-color: white;
  border: 2px solid;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  height: 50vh;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 20vw;
}

.travelers,
.duration-input {
  width: 8vw;
}

.login-button {
  background-color: #ff385c;
  border: none;
  border-radius: 5px;
  height: 4vh;
  margin-top: 5%;
  width: 5vw;
}

.date,
.total {
  font-size: 25px;
  margin-bottom: 10%;
  margin-top: 10%;
  width: 22vw;
}

.trip {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 0;
  margin-left: 8%;
  margin-top: 0;
  width: 19vw;
}

.trip-details-container {
  overflow-wrap: break-word;
}

.trip-search-form {
  border-radius: 5px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-evenly;
  padding: 1%;
  width: 16vw;
}

h3,
p,
h2 {
  margin: 0;
}

.form {
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 5vh;
  width: 15vw;
}

.destination {
  width: 15.5vw;
}

.first-day {
  font-size: 16px;
}

.logout-button,
.trips-button {
  border: 2px solid #ff385c;
  background-color: #f5f5f5;
  color: black;
}

.welcome {
  color: #ff385c;
  font-size: 25px;
  font-weight: bolder;
}

.trip-requested-message,
.form,
.first-day {
  margin-top: 3%;
}
