body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.login-page,
.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
}

.login-input {
  height: 5vh;
}

.username-section,
.password-section {
  margin-top: 5%;
}

.username-error {
  color: red;
  font-size: 1.2em;
}

.hidden {
  display: none;
}

.search-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 25vh;
  justify-content: space-between;
  margin: 3%;
  width: 95vw;
}

.logo {
  border-radius: 15px;
  height: 20vh;
  width: 10vw;
}

.all-trips-container {
  align-items: flex-start;
  align-content: space-between;
  border: 2px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 113vh;
  justify-content: space-around;
  margin-left: 3%;
  width: 95vw;
}

.search-button-container {
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: space-between;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3%;
  width: 60vw;
}

.trips-button,
.logout-button,
.trip-cost-button,
.request-trip-button {
  background-color: #ff385c;
  border: none;
  border-radius: 5px;
  height: 4vh;
  width: 16vw;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 5px;
  width: 13vw;
}

.card-image {
  height: 20vh;
  width: 20vw;
}

.trip-card-template {
  border: 2px solid;
  height: 50vh;
  margin-top: 2%;
  width: 20vw;
}

.travelers,
.duration-input {
  width: 8vw;
}

.login-button {
  background-color: #ff385c;
  border: none;
  border-radius: 5px;
  height: 4vh;
  margin-top: 5%;
  width: 5vw;
}

.date {
  width: 10vw;
}

.trip {
  margin-left: 2%;
  width: 19vw;
}

.trip-search-form {
  display: flex;
  flex-direction: column;
  height: 23vh;
  justify-content: space-evenly;
  width: 16vw;
}
