body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.login-page,
.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
}

.login-button {
  background-color: #ff385c;
  border: none;
  border-radius: 5px;
  height: 4vh;
  width: 7vw;
}

.login-input {
  height: 5vh;
}

.username-section,
.password-section {
  margin-top: 5%;
}

.username-error {
  color: red;
  font-size: 1.2em;
}

.hidden {
  display: none;
}

.search-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 30vh;
  justify-content: space-between;
  width: 100vw;
}

.logo {
  height: 14vh;
  width: 10vw;
}

.all-trips-container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 100vw;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
}

.button,
.logout-button,
.trip-cost-button,
.request-trip-button { 
  background-color: #ff385c;
  border: none;
  border-radius: 5px;
  height: 4vh;
  width: 14vw;
}